body{
  padding-top:80px;
  word-wrap:break-word;
  background-color: lightblue;
}
img{
  height: 200px;
}
h2{
  text-align: center;
}
input{
  display: block;
}
/* .col-sm-6{
  display: none;
} */
.formSection{
  background-color: green;
  width: 30%;
  margin-left: 30%;
  padding-left: 10%;
  color: white;
}
li{
  list-style: none;
}
